:root {
  color-scheme: light dark;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

#root {
  padding: 1.25rem;
}

.pages {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.page {
  position: relative;
  overflow: hidden;
  background: #444;
  width: 100%;
  margin: auto;
}

.photo {
  display: block;
  object-fit: cover;
  visibility: visible;
  dynamic-range-limit: standard;
}

@media print {
  #app,
  #root {
    display: none !important;
  }

  #print-fallback {
    display: block;
    padding: 2rem;
  }
}
